body{
    background-color: rgb(64, 64, 64);
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    text-align:center;
    margin-top: 100px;
}

.container{
    background: rgb(255, 255, 255);
    max-width: 20%;
    margin: auto;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;   
}
.container-1{
    background-color: rgb(255, 255, 255);
    margin: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

h1{
    margin-top:80px;
    margin-bottom: 10px;
    color:rgb(0, 0, 0);
    font-size: 30px;
}

h2{
    font-size:50px;
    margin-top:0;
    color:rgb(0, 0, 0);
    margin-bottom:20px;
}

button{

    padding-top:10px;
    padding-bottom:10px;
    color:rgb(0, 0, 0);
    border:2px solid black;
    border-radius: 10px;
    width:180px;
    margin-bottom: 5px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

#increment-btn{   
    background:rgb(181, 110, 110);
    color: aliceblue;
    font-weight: 30px;
    
}
#increment-btn:hover{
    background-color: rgb(162, 126, 126);
    color: black;
}


#save-btn{
    background:rgb(220, 191, 147);
    color: aliceblue;
}
#save-btn:hover{
    background-color: rgb(123, 106, 80);
    color: black;
}

#save-el{
    color: rgb(0, 0, 0);
    padding-bottom: 30px;
}
